body, h1, h2, p, ul a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

 a {
  text-decoration: none;
 }

 img {
  display: block;
  max-width: 100%;
 }

header {
  background: #FA82A6;
  padding: 1rem 0;
}


.menu {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 50%;
}

 .menu ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
 }

 nav a {
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  color: #fff;
  font-family: sans-serif;
 }

 nav a:hover {
  color: #F6E5EA;
 }

 #button-mobile {
  display: none;
 }

 @media (min-width: 970px) and (max-width: 1200px) {
  .menu {
    padding: 0 60px;
  }
  #nav  a {
    font-size: 1.2rem;
  }
 }

 @media (min-width: 768px) and (max-width: 970px) {
  .menu {
    padding: 0 50px;
  }
  #nav  a {
    font-size: 1.1rem;
  }
 }
 
 @media (min-width: 601px) and (max-width: 768px) {
  .menu {
    padding: 0 30px;
  }
  #nav  a {
    font-size: 1rem;
    flex-wrap: nowrap;
  }
}

 @media (max-width: 600px) {
  .menu {
    padding: 0 25px;
  }
  .logo {
    max-width: 80%;
  }
  nav {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  #button-mobile {
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    border: none;
    box-shadow: 0 6px #fff, 0 -6px #fff;
    transition: transform .3s;
   }
   #button-mobile.active {
   transform: rotate(90deg); 
  }
   #menu-list {
    display: none;
    width: 100%;
    right: 0;
    background: #FA82A6;
    height: 130px;
    top: 60px;
    position: absolute;
    animation: dropdownMenu .10s;
   }   
   #nav.active #menu-list {
    display: block;
   }
   @keyframes dropdownMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }
   #nav.active #menu-list a {
    padding: 15px 0 0px 10px;
    font-size: 1rem;
  }
 }

 @media (max-width: 500px) {
  
  #menu-list {
    top: 97px;
  }
}
main {
  background: #F4E2E5;
}
 .main-content {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
 }

 .main-content img {
  margin-top: 20px;
 }

 .main-tittle {
  align-items: end;
 }

 .main-tittle h1 {
  padding-top: 70px;
  text-align: center;
  font-size: 3.5rem;
  color: #FA82A6;
 }

 .main-tittle h2 {
  text-align: center;
  font-size: 2.7rem;
  color: #FA82A6;
 }

 @media (min-width: 970px) and (max-width: 1200px) {
   .main-tittle h1 {
    font-size: 3rem;
   }
   .main-tittle h2 {
    font-size: 2.5rem;
   }
 }

 @media (min-width: 880px) and (max-width: 970px) {
   .main-tittle h1 {
    font-size: 2.5rem;
   }
  
   .main-tittle h2 {
    font-size: 2.3rem;
   }
 }

 @media (min-width: 780px) and (max-width: 880px) {
   .main-tittle h1 {
    font-size: 2.3rem;
   }
   .main-tittle h2 {
    font-size: 2rem;
   }
 }

 @media (min-width: 650px) and (max-width: 780px) {
  .main-tittle h1 {
    padding-top: 60px;
   font-size: 2rem;
  }
  .main-tittle h2 {
   font-size: 1.7rem;
  }
}
@media (min-width: 501px) and (max-width: 650px) {
  .main-tittle h1 {
    padding-top: 55px;
   font-size: 1.5rem;
  }
  .main-tittle h2 {
   font-size: 1.2rem;
  }
}

@media (max-width: 500px){
  .main-tittle h1 {
    padding-top: 40px;
   font-size: 1.4rem;
  }
  .main-tittle h2 {
   font-size: 1.1rem;
  }
}

.sobre {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding: 80px 0;
}

.sobre-content h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 30px;
  color:#FA82A6
}

.sobre-content p {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #7c7c7c;
  text-indent: 2rem;
  text-align: justify;
}
.sobre-img img{
  border-radius: 4px;
}

@media (min-width: 850px) and (max-width: 1200px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 70px 55px 0px 55px;
  }
  .sobre-content h1 {
    font-size: 1.8rem;
    padding-bottom: 30px;
  }
  
  .sobre-content p {
    font-size: 1.2rem;
  }
  .sobre-img {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 35%;
  }
}

@media (min-width: 700px) and (max-width: 850px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 70px 50px 50px 50px;
  }
  .sobre-content h1 {
    font-size: 1.7rem;
    padding-bottom: 30px;
  }
  
  .sobre-content p {
    font-size: 1.1rem;
  }
  .sobre-img {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 40%;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 70px 40px 50px 40px;
  }
  .sobre-content h1 {
    font-size: 1.5rem;
    padding-bottom: 30px;
  }
  .sobre-content p {
    font-size: 1.1rem;
  }
  .sobre-img {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 40%;
  }
}

@media (max-width: 500px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 70px 30px 40px 30px;
  }
  .sobre-content h1 {
    font-size: 1.3rem;
    padding-bottom: 15px;
  }
  .sobre-content p {
    font-size: 1rem;
  }
  .sobre-img {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 70%;
  }
}

.services {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 50px;
  gap: 50px;
  padding-bottom: 70px;
}

.service-item h2 {
  font-size: 1.5rem;
  color: #FA82A6;
  margin-bottom: 20px;
}

.service-item h2::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 20px;
  margin-right: 20px;
  background: #F4E2E5
}

.service-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
  text-indent: 2rem;
  text-align: justify;
  padding-bottom: 20px;
  border-bottom:  2px solid #F6E5EA;
}

@media (min-width: 850px) and (max-width: 1200px) {
  .services {
  padding: 70px 50px 0px 50px;
  padding-bottom: 70px;
  }
}

@media (min-width: 680px) and (max-width: 850px) {
  .services {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 70px 40px 0px 40px;
    padding-bottom: 80px;
  }
  .service-item h2::before {
    width: 7px;
    height: 18px;
    margin-right: 17px;
  }
  .service-item p {
    font-size: 1.1rem;
  }
}

@media (min-width: 500px) and (max-width: 680px) {
  .services {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 70px 30px 0px 30px;
    padding-bottom: 90px;
  }
  .service-item h2::before {
    width: 7px;
    height: 18px;
    margin-right: 17px;
  }
  .service-item p {
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  .services {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 70px 30px 0px 30px;
    padding-bottom: 90px;
  }
  .service-item h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .service-item h2::before {
    width: 6px;
    height: 13px;
    margin-right: 13px;
  }
  .service-item p {
    font-size: 1rem;
  }
}

footer {
  background: #FA82A6;
}
footer p {
  text-align: center;
  padding: 20px 0;
}
.footer-content {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding-top: 40px;
}
.footer-iten {
  display: flex;
  padding: 10px 0;
  padding-left: 70px;
  align-items: center;
}
.footer-iten a {
  color: #1E1D1D;
  cursor: pointer;
}
.footer-iten a:hover {
  color: #fff;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (min-width: 600px) and (max-width: 770px){
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding-top: 40px;
  }
  .footer-iten {
    padding-left: 30px;
  }
}

@media (max-width: 599px){
  .footer-content {
    max-width: 400px;
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  .icon {
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }
  
  .footer-iten a {
    font-size: 0.875rem;
  }
  footer p {
    font-size: .7rem;
  }
}
